/Banco/build/
/GUIA1-EJERCICIO1/nbproject/private/
/GUIA 02/Ejercicio1/nbproject/private/
/GUIA 02/Ejercicio1/build/
/GUIA 02/Ejercicio 02/nbproject/private/
/GUIA 02/Ejercicio 02/build/
/GUIA 02/Ejercicio 03/nbproject/private/
/GUIA 02/jTuroria_6/nbproject/private/
/GUIA 02/jTuroria_6/build/
/GUIA 02/Ejercicio01/nbproject/private/
/GUIA 02/Ejercicio01/build/
/LABORATORIO 01/lab1Asi_HM19071/nbproject/private/
/LABORATORIO 01/lab1Asi_HM19071/build/